html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

body {
    font-family: 'Bruno Ace SC', cursive;

}

.bkg {
    background-color: #000000;
}

.container {
    max-width: 1296px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    background-color: black;
}

.menu a {
    display: block;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #D1D1D1;
}

.txt-r {
    text-align: right;
}

.header {
    display: flex;
    height: 992px;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.header img {
    width: 636px;
    height: 848px;
    margin-top: 72px;
    margin-bottom: 72px;
    vertical-align: bottom;

}

.items {
    color: #D1D1D1;
    margin-left: 24px;
}

.items h1 {
    width: 636px;
    font-size: 64px;
    line-height: 96px;
}

.items h2 {
    width: 636px;
    font-size: 64px;
    line-height: 96px;
}

.items p {
    color: #00FFA3;
    font-size: 128px;
    line-height: 192px;
    width: 636px;
    text-align: right;

}

.items button {
    width: 185px;
    height: 48px;
    border-radius: 32px;
    padding: 12px, 24px, 12px, 24px;
    gap: 4px;
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/e893787047e19651ac4c52cab7aad75ee2f3db1f/2023week2/arrow_outward.svg);
    background-position: bottom 10px right 20px;
    background-repeat: no-repeat;

}

.items button img {
    width: 24px;
    height: 24px;
}

.items button:hover {
    background-color: #00FFA3;
}

.btn {
    display: flex;
    align-items: center;
    border-radius: 32px;
    line-height: 1.5;
    margin-left: auto;

}

.btn span {
    padding-left: 24px;
    font-family: 'Bruno Ace SC', cursive;
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 920px;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true);

}

.box1 {
    color: #D1D1D1;
    width: 526px;
    margin-right: 24px;
}

.box1 img {
    width: 32px;
    height: 98px;
}

.box1 h2 {
    font-size: 64px;
    line-height: 96px;
    margin-bottom: 36px;
}

.box1 p {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 32px;
}

.img1 img {
    margin-right: 24px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 740px;
    background-color: white;
    margin-right: 134px;
}

.content1 {
    display: flex;
    flex-direction: column;
    width: 526px;
    margin-bottom: 36px;
}

.content1 p {
    font-size: 24px;
    line-height: 36px;
}

.content1 h2 {
    width: 400px;
    font-size: 64px;
    line-height: 96px;
    margin-bottom: 36px;
}

.box2 {
    width: 636px;
    height: 328px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 134px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.card {
    width: 306px;
    height: 148px;
    border: 1px solid #E3E3E3;

}

.card ul {
    padding: 16px;
    font-size: 20px;
    line-height: 30px;
}

.card li {
    width: 274px;
    height: 30px;
}

.style {
    font-size: 16px;
    line-height: 24px;
}

.background {
    height: 354px;
    background-image: linear-gradient(to bottom, #050014, #01021E);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.background h2 {
    display: block;
    font-size: 64px;
    line-height: 96px;
    width: 541px;
    color: #FFFFFFFF;
}

.background a img {
    width: 162px;
    height: 162px;
    border-radius: 40px;
    gap: 20px;
}

.background a img:hover {
    box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.9);

}

.img_style1 {
    margin-right: 113px;
    width: 100px;
    height: 100px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 160px auto 160px;
    vertical-align: bottom;

}

.project h2 {
    width: 746px;
    font-size: 64px;
    line-height: 96px;
    margin-bottom: 16px;
    margin-left: 532px;
}

.d-f p {
    width: 636px;
    height: 196px;
    line-height: 24px;
    font-size: 16px;
}

.d-f {
    display: flex;
}

.f-w-w {
    flex-wrap: wrap;
}

.d-b {
    display: block;
}

.btn2 {
    display: block;
    border-radius: 32px;
    width: 185px;
    height: 48px;
    margin-top: 76px;
    color: white;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/arrow_outward-white.png?raw=true);
    background-position: bottom 10px right 20px;
    background-repeat: no-repeat;
    background-color: black;
    font-family: 'Bruno Ace SC', cursive;
    padding: 12px, 24px, 12px, 52px;
}

.mb-24 {
    margin-bottom: 24px;
}

.f-w-w {
    flex-wrap: wrap;
}

.wrap {
    display: flex;
    justify-content: center;
    padding: 272px auto 160px;

}


.wrap img {
    margin-right: 24px;
}

.style1 {
    height: 530px;
    flex-direction: column;
}

.style1 img {
    margin-bottom: 3.5px;
}

.footer {
    height: 104px;
    background-color: #000000;
}

.footer p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: white;
    padding-top: 40px;
}